@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @ViewData["nombreUsuario"]</h1>
    <p>Rol: <a href="#">@ViewData["rol"]</a>.</p>
</div>

@if (TempData["Mensaje"] != null)
{

    <div class="form-group">
        <div class="alert alert-success" role="alert">
            @TempData["Mensaje"]
        </div>
    </div>
}
