@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No tienes Permiso para acceder</p>

<div class="alert alert-danger" role="alert">
    No tienes Permiso para acceder <a asp-controller="Home" asp-action="Index">Volver a Inicio</a>. 
</div>
