@using CapaEntidad;
@model UsuarioCLS


<div class="card">
    <div class="card-header">
        Editar Usuario
    </div>
    <div class="card-body">


        <form asp-action="EditarUsuario" asp-controller="Usuario" method="post">

            <input asp-for="idUsuario" type="hidden" class="form-control">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="nombreusuario" type="text" class="form-control">
                <span asp-validation-for="nombreusuario" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Rol</label>
                <select asp-for="rol" class="form-control">
                    <option value="Administrador">Administrador</option>
                    <option value="Suscriptor">Suscriptor</option>
                </select>
                <span asp-validation-for="rol" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Rol</label>
                <select asp-for="activo" class="form-control">
                    <option value="True">Activo</option>
                    <option value="False">Inactivo</option>
                </select>
                <span asp-validation-for="activo" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" asp-controller="Usuario" class="btn btn-warning">Volver a la lista</a>

            @if (ViewData["Mensaje"] != null)
            {

                <div class="form-group">
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Mensaje"]
                    </div>
                </div>
            }
        </form>


    </div>
</div>

